<style>
.angular-google-map-container {
  height: 900px;
  width: 900px;
  left        : 0;
  margin-left : auto;
  margin-right: auto;
  position    : absolute;
  right       : 0;
  text-align  : center;
  top         : 10%;
}
 </style>
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css">
  <title> The Forest </title>
  </head>
  <h1>The Forest</h1>
<div ng-init="get_locations()">
<google-map center="map.center" zoom="map.zoom" draggable="true">
<li ng-repeat="location in locations">
  <marker coords="{'latitude':location.lat, 'longitude':location.lng}" icon="'/fertilizer/images/peachtreesmall.gif'"
  click="change_window(location.url)">
    <marker-label content="location.name" anchor="10 0">
    </marker-label>
  </marker>
</li>
</google-map>
<a href="/fertilizer/index.html#/list"> List View and Create a Tree</a> <br>
<br>
<a href="/">Main</a>
