<head>
<title> The {{location.name}} Tree </title>
  <style>
  .centered {
  left        : 0;
  margin-left : auto;
  margin-right: auto;
  position    : relative;
  right       : 0;
  text-align  : center;
  top         : 0%;
}
.angular-google-map-container {
  height: 400px;
  width: 400px;
  left        : 0;
  margin-left : auto;
  margin-right: auto;
  position    : relative;
  right       : 0;
  text-align  : center;
  top         : 10%;
}
  </style>
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css">
  </head>
<a href="/fertilizer/index.html#/">Back to the Forest</a> |
<a href="http://www.hipchat.com/gX28jfHvE"> Join the conversation</a> | <a href="/">Main</a>
<div ng-init="get_details(url)" class="centered">
<h1> {{location.name}} Tree</h1>
<big>QR Code</big><br><br>
<qr text="qr_url"></qr>

<h2> Tree Information </h2>
<b><font size=4>Last Watered By:</font></b><font size=5 color='red'> {{location.last_watered_name}}</font><br>
<img src='/fertilizer/images/peachtree.gif'>{{location.name}} <br>
<b>Location:</b> {{location.name}} <br>
<b>Date Created:</b>  {{location.date_created}} <br>
<b>Date Last Watered:</b> {{location.last_watered}} <br>
<b>Fertilized:</b> {{location.hit_count}} <br>
<b>Current Latitude:</b> {{location.lat}}
<form ng-submit="update_latitude(url,lat)" method="post">
    <label>Latitude: <input type="text" ng-model="lat"/></label>
    <button type="submit">Change</button>
  </form>
<flash:messages></flash:messages>
<b>Current Longitude:</b> {{location.lng}}
<form ng-submit="update_longitude(url,lng)" method="post">
    <label>Longitude: <input type="text" ng-model="lng"/></label>
    <button type="submit">Change</button>
  </form>
<google-map center="map.center" zoom="2" draggable='true'>
  <marker coords="{'latitude':location.lat, 'longitude':location.lng}" icon="'/fertilizer/images/peachtreesmall.gif'" options="{'title':'Drag your tree'}" options="{'draggable':'true'}">
  <marker-label content="'<font size=2 color=red>Tree Location</font>'" anchor="20 0" style="{'color':'#006600'}">
    </marker-label>
  </marker>
</google-map>
<a href="/fertilizer/index.html#/print/{{location.url}}">Print Tree</a> <br><br><br>
</div>
