<head>
  <style>
  .centered {
  left        : 0;
  margin-left : auto;
  margin-right: auto;
  position    : relative;
  right       : 0;
  text-align  : center;
  top         : 0%;
}

  </style>
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css">
  <title> The Forest </title>
</head>
<a href="/fertilizer/index.html#/">Back to the Forest</a> |
<a href="/fertilizer/index.html#/about/yo">Get YO notifications</a> |
<a href="http://www.hipchat.com/gX28jfHvE"> Join the conversation</a> | <a href="/">Main</a>
{{test}}
<div ng-init="get_locations()" class="centered">
<h1> List View </h1>

  <ul>
    <li ng-repeat="location in locations" typ=1>
      <a href="/fertilizer/index.html#/tree/{{location.url}}">
          {{location.name}} -  Hits: {{location.hit_count}}
      </a> <br>
      Last Fertilized: {{location.last_watered}}
    </li>
  </ul> <br>
  <h2> Plant a Tree </h2>
<form ng-submit="create_location(new_location)" method="post">
    <label>Location Name: <input type="text" ng-model="new_location"/></label>
    <button type="submit">Create</button>
  </form>
</div>

