<head>
<title> YO notifications </title>
  <style>
  .centered {
  left        : 0;
  margin-left : auto;
  margin-right: auto;
  position    : relative;
  right       : 0;
  text-align  : center;
  top         : 0%;
}
  </style>
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css">
  </head>
<a href="/fertilizer/index.html#/">Back to the Forest</a> |
<a href="http://www.hipchat.com/gX28jfHvE"> Join the conversation</a> | <a href="/">Main</a>

  <div class="centered">
    <h1> Get YO Notifications </h1>
    <img src='/fertilizer/images/yo_image_graphic.jpg' height="250" width="300"> <br>
    <img src='/fertilizer/images/yo-iphone-app.jpg' height="300" width="300"> <br>
    <body> Whenever a tree is watered get notified via YO by adding
      <font color='purple'><b> WATERYOURTREES </b></font> to your friends list
    </body>
</div>
